<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
  <div class = "col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom: 4px;">
      {{job['title']}}
    </h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{job['currency']}} {{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-3">
    <div>
      <a href="mailto:hrteam@speedycareers.com?subject=Queries%20regarding%20{{job['title']}}&body=Name%3A%20%3CEnter%20your%20name%3E%0D%0A%0D%0AResume%3A%20%3CLink%20your%20resume%3E%0D%0A%0D%0ASocials%2FWebsites%3A%20%3CLink%20your%20relevant%20socials%20or%20sites%20to%20showcase%20your%20work%3E" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
  </div>
</div>